html {
    	background: url("bethmalin.jpg") no-repeat center center fixed;
    	-webkit-background-size: cover;
      	-moz-background-size: cover;
    	-o-background-size: cover;
    	background-size: cover;
    	height: auto;
    	width: auto;
		display: block;
		
}


#header {
	    color: #33CCFF;
	  	font-size: 30px;
	}
	

#body {
	
		color: blue;
		font-size: 20px;
}

#companyname {
	
		color: orange;
		font-family: 'Annie Use Your Telescope', cursive;
		font-weight: bold;
		font-size: 50px;
		padding: 25px 0 0 0;	
	}

#companycatch {
		
			color: orange;
			font-family: 'Annie Use Your Telescope', cursive;
			font-weight: bold;
			font-size: 35px;
			padding: 25px 0 0 0;
	
	
}
	
}