<a href="http://twitter.com/timomeara1" target="_blank">Twitter</a> || 				
<a href="http://www.linkedin.com/profile/view?id=99915943&trk=tab_pro" target="_blank">LinkedIn</a> || 
<a href="/contact_us" >Contact Us</a>
<div id="copywrite">
	&copy; 2012 MommyNetworks, LLC
</div>